body {
    margin: 0;
    color: #000;
}

main {
    margin: 20px 10px;
    padding: 20px;
    background-color: #f7d1a6;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

figure {
    margin: 0;
    padding: 15px;
    background-color: #ece9e4;
}